* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

/* NAVBAR */
.cstm-navbar {
    background: linear-gradient(90deg, #00193F, #16B3A3);
    padding: 16px 0;
}

.cstm-nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
    height: 34px;
}

.brand-text {
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.cstm-nav-menu {
    display: flex;
    gap: 60px;
}

.cstm-nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.cstm-nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background-color: white;
}

.cstm-nav-user {
    display: flex;
    align-items: center;
    gap: 18px;
    color: white;
    font-size: 20px;
}

.logout-btn {
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.18);
}

/* SEARCH BAR */
.search-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 40px 0 15px;
    background: linear-gradient(90deg, #00193F, #16B3A3);
}

.search-input {
    width: 65%;
    padding: 12px 18px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.search-btn {
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    background: #16B3A3;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.search-btn:hover {
    background: #109485;
}

/* TAMBAH BUTTON */
.plus-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 25px 80px;
}

.btn-plus {
    background: #16B3A3;
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
}

/* CARD LOWONGAN */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
    padding-bottom: 60px;
}

.job-card {
    background: white;
    width: 300px;
    padding: 22px;
    border-radius: 14px;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
}

.job-card p {
    margin-top: 6px;
    font-size: 15px;
}

.pelamar-info {
    margin-top: 14px;
    font-weight: 600;
}

.badge {
    background: #E03A3A;
    padding: 2px 10px;
    border-radius: 6px;
    color: white;
}

.date-info {
    font-size: 13px;
    color: gray;
    margin-top: 14px;
}
