@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100vh;
    background:linear-gradient(to bottom right,#1FACA2,#114841);
}

.container{
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:40px;
    background-color:#434343;
    width:400px;
    padding:40px 30px;
}

.container h2{
    margin-bottom:20px;
}

.form-group{
    font-size:12px;
    font-weight:bold;
    display:flex;
    flex-direction:column;
    width:100%;
    margin-bottom:10px;
    align-items:center;
}

.form-group label{
    margin-bottom:5px;
    align-self:flex-start;
}

.form-group input{
    border-radius:7px;
    width:350px;
    height:40px;
    padding:0 10px;
    border:none;
    outline:none;
    font-size:14px;
}

button{
    font-weight:bold;
    color:#fff;
    background-color:#1FACA2;
    width:140px;
    height:35px;
    border:none;
    border-radius:7px;
    cursor:pointer;
    margin-top:20px;
}
